body {
    font-family: 'Roboto Mono', monospace;
    width: 900px;
    margin: 30px auto;

}

#logo {
    width: 140px;
    height: 80px;
    float: left;
    background: url('/img/logo.png') center center no-repeat;
    z-index: 3;
    position: absolute;
}

#logo-dotted {
    width: 140px;
    height: 80px;
    float: left;
    z-index: 3;
}

#logo-dotted-one {
    width: 58px;
    height: 31px;
    margin: 0px 20px 0px 0px;
    border: 1px dashed #707070;
    position: absolute;
    z-index: 2;
    background-color: #fff;
}

#logo-dotted-two {
    width: 74px;
    height: 31px;
    margin: 48px 20px 0px 44px;
    border: 1px dashed #707070;
    position: absolute;
    z-index: 2;
    background-color: #fff;
}

#logo-dotted-free {
    width: 74px;
    height: 31px;
    margin: 16px 20px 0px 8px;
    border-top: 1px dashed #707070;
    border-right: 1px dashed #707070;
    position: absolute;
    z-index: 1;
}

.blue_text {
    color: #0032ff;
    font-weight: 500;
}

#header {
    color: #8d8d85;
    text-align: right;
    border-right: 14px solid #999;
    margin-right: 10px; 
    padding-right: 10px; 
    font-weight: 500;
    font-size: 20px;
}

.menu {
    color: #3d464d;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding: 26px 0px 60px 0px;
}

.menu-item {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.block {
    padding: 0px 0px 16px 0px; 
    font-size: 14px;
}

.block-header {
    border-left: 10px solid #999;
    color: #404040;
    padding-left: 10px; 
}

.block-text {
    color: #707070;
    padding: 20px 0px 0px 20px; 
}

.block-border {
    margin: 20px 0px 0px 0px;
    width: 100%;
    height: 2px;
    background-image: url('/img/dot-line.svg');
}

.bright {
    color: #000;
    background-color: #ffc800;
}